<title><%= title %></title>
<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

<!-- Bootstrap Stylesheet-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Font Awesome Icons -->
<script defer 
src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
</script>

<!-- Custom Stylesheet -->
<link rel="stylesheet" href="/assets/css/style.css">