<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
</head>
<body>
<div class="container-fluid">
    <!-- Header Section -->
    <div class="container">
    <div class="row" id="headerSection">
        <div class="col-sm-12 col-md-4 " id="pageLogo">
            <h1>STARGAZER</h1>
        </div>
        <div class="col-sm-12 col-md-5 offset-md-3 ">
            <form>
                <div id="locationField">
                    <input id="address-input" type="text" placeholder="Address Search">
                    <button class="btn" id="address-submit" type="text"> Submit </button>
                    <button class="btn" id="geolocate" type="text"> Geolocate </button>
                </div>
            </form>
    </div>
    </div>
</div>
    <!-- /Header Section -->
    <!-- Buttons Map & Star Atlas, Location Search -->
    <div class="container">
        <div class="row">
                <button type="button" class="btn btn-collapseButton" data-toggle="collapse" data-target="#loginCollapse" role="button" aria-expanded="true" aria-controls="loginCollapseExample" id="loginButtonCollapse">
                            <img class="loginIcon" src="/assets/img/login.svg"> Login
                </button>
                <button type="button" class="btn btn-collapseButton" data-toggle="collapse" data-target="#mapCollapse" role="button" aria-expanded="true" aria-controls="mapCollapseExample" id="mapButtonCollapse">
                            <img class="buttonIcon" src="/assets/img/world_icon.svg" width="25px" height="25px"> Light Map
                </button>
                <button type="button" class="btn btn-collapseButton" data-toggle="collapse" data-target="#atlasCollapse" role="button" aria-expanded="true" aria-controls="atlasCollapseExample" id="atlasButtonCollapse">
                            <img class="buttonIcon" src="/assets/img/sky_atlas.svg"> Sky Atlas
                </button>
        </div>
    </div>
    <!-- /Buttons Map & Star Atlas, Location Search -->
    <!-- Map & Atlas Collapse -->
    <div class="row">
        <div class="container">
            <div class="col-12">
                    <div class="collapse hide" id="loginCollapse">
                        <div id="loginSection" style="width:100%;height:600px;"></div>
                    </div>
            </div>
        <div class="col-12">
            <div class="collapse hide" id="mapCollapse">
                <div id="mapBox">
                    <div id='map' style='width: 100%; height: 600px; position: relative;'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="collapse hide" id="atlasCollapse">
                        <div id="starmap1" style="width:100%;height:600px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Map & Atlas Collapse -->
    <!-- Veiwing Conditions, Weather, Moon & Sun Data -->
    <div class="container contentContainer">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="col-12 contentBox">
                    <h2 class="contentHeader"><img class="buttonIcon" src="/assets/img/view_conditions.svg"> Weather Conditions</h2>
                    <div class="col-12" id="viewingTimes">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="col-12 contentBox">
                    <h2 class="contentHeader">Current Moon Phase</h2>
                    <div class="col-12" id="moonPhase">
                    <img src="http://api.usno.navy.mil/imagery/moon.png" width="50%" >
                </div>
            </div>
            </div>
        </div>

                <div class="col-12 contentBox">
                    <h2 class="contentHeader"><img class="buttonIcon" src="/assets/img/celestial_events.svg">Celestial Events</h2>
                    <div class="col-12" id="celestialEvents">
                    </div>
                </div>
        </div>
    </div>
    <!-- /Veiwing Conditions, Weather, Moon & Sun Data -->
    <!-- Dark Sky Spots & Events -->
    <div class="container contentContainer">
        <div class="row">
            <div class="col-sm-12 col-lg-6 contentBox">
                <h2 class="contentHeader"><img class="buttonIcon" src="/assets/img/dark_spots.svg">Dark Sky Spots</h2>
                <div class="col-sm-12 col-lg-10" id="darkSkyLocations">         
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 contentBox">
                <h2 class="contentHeader"><img class="buttonIcon" src="/assets/img/stargazing_events.svg">Stargazing Events</h2>
                    <div class="col-sm-12 col-lg-10" id="upcomingEvents">
                    </div>
            </div>
        </div>
        <!-- /Dark Sky Spots & Events -->
</div>

    <%- include ./partials/scripts %>
</body>
</html>