
body{
    background: url(/assets/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #012129;
}
h1 {    
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 64px;
    color: #ffffff;
    font-style: none;
    text-align: center;

}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #ffffff;
}
h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 100;
}
#headerSection{
    margin-top: 1rem;
}
#loginSection{
    padding-top: 1rem;
    color: #ffffff;
}
#map {
    /* position:absolute;  */
    top:0; 
    bottom:0; 
    width:100%;
}
#mapBox {
    /* background-color: #cccccc; */
}
.contentBox {
    margin-top: 1rem;
}
.contentContainer {
    margin-top: 1rem;
   
    padding-bottom: 1rem;
    border-radius: 7px;
     background-color: rgba(6, 48, 59, 0.850);

}

#darkSkyLocations, #upcomingEvents, #celestialEvents, #viewingTimes   {
    margin-top: 1rem;
    background-color: #ffffff;
    height: 6rem;
    border-radius: 7px;  
}

#viewingTimes {
    display: inline-table;
}
.buttonIcon{
    margin-right: .5rem;
    width: 30px;
    height: 30px;
}
#mapButtonCollapse, #atlasButtonCollapse, #loginButtonCollapse {
    background: rgba(6, 48, 59, 0.850);
    width: 100%;
    margin-left: 1rem;
    height: 4rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
#mapCollapse, #atlasCollapse {
    width: 100%;
    height: 600px;
    border-radius: 7px;
}

/* @media */
/* Small */
@media (max-width: 768px) {
    .buttonIcon{
        margin-right: .25rem;
        width: 25px;
        height: 25px;
    } 
    #mapButtonCollapse, #atlasButtonCollapse, #loginButtonCollapse {
        margin-left: .25rem;
    }
    h3 {
        font-size: 18px;
    }
}
@media (max-width: 576px) { 
    #mapButtonCollapse, #atlasButtonCollapse, #loginButtonCollapse {
        margin: .25rem;
    }
    h3 {
        font-size: 24px;
    }

}